// SIDEBAR

.sidebar {

  position: fixed;
  height: 100%;

  background-color: $sidebar_bg_color;
  width: $sidebar_width;
  padding-top: $topnav_height;
  color: white;

  overflow-y: scroll; // Let item inside scroll
  overflow-x: hidden;

  transition: margin-left .3s;
  z-index: $sidebar_zindex; // Change

  & .navbar-nav{

    & .nav-item {
      color: white;
      margin:4px;
      margin-bottom:0px;
      padding:0px;
      padding-left: 10px;
      border-radius: 8px;
      font-size:13px;
    }

    .nav-item:hover,
    .nav-item:active{
      background-color: rgba(255, 255, 255, 0.043);
    }

    .active, .active:hover {
      background-color: #4364FF;
      color: white;
    }

    a {
      color:white;
    }

  }

  & section {

    padding:8px;
    font-size: 10px;
    margin-bottom: -8px;
    color: rgb(177, 177, 177);

  }


}


// margin-LEFT positioning move the sidebar
@media (max-width: $md-breakpoint-width) {

  .sidebar {
    margin-left: -#{$sidebar_width};
  }

  .sidebar.active {
    margin-left: 0;
  }

}



.sidebar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
